<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">

    <import resource="itmo-core-config.xml"/>
    <import resource="itmo-db-config.xml"/>

    <import resource="points-config.xml"/>
    <import resource="terms-config.xml"/>
    <import resource="task-config.xml"/>
    <import resource="module-config.xml"/>
    <import resource="students-config.xml"/>
    <import resource="lessons-config.xml"/>

    <import resource="yalets.xml"/>

</beans>